In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None

url="Netology_A_B-testing_HW_1.csv"
data=pd.read_csv(url, names=['id','date','user_id','hour','app_opened','price_seen','order_made','surge','ride_completed',\
                             'user_cancelled','age','os','city_center_order','order_class','distance','rfm'],
                skiprows=1)
data.head()

,id,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
0,0,2020-05-21,867689,12,1,1,1,no surge,1,0,20,iOS,0,business,7.982135,low
1,1,2020-05-23,752172,5,1,1,1,no surge,1,0,37,Android,1,economy,2.908468,high
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
3,3,2020-05-19,304024,0,1,1,1,no surge,1,0,59,Android,1,economy,1.874349,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium

In [19]:
values = ['hour', 'app_opened', 'price_seen', 'order_made', 'ride_completed', 'user_cancelled', 'age', \
          'city_center_order', 'distance']
df = data[values]
df.head()

,hour,app_opened,price_seen,order_made,ride_completed,user_cancelled,age,city_center_order,distance
0,12,1,1,1,1,0,20,0,7.982135
1,5,1,1,1,1,0,37,1,2.908468
2,15,1,1,1,1,0,47,0,7.224614
3,0,1,1,1,1,0,59,1,1.874349
4,0,1,1,1,1,0,19,0,10.704778

In [23]:
out = pd.DataFrame({'Параметр': values})

out.insert(1, "Среднее", df.apply(lambda x: round(x.mean(), 3)).values)
out.insert(2, "Медиана", df.apply(lambda x: round(x.median(), 3)).values)
out.insert(3, "95-перцентиль", df.apply(lambda x: round(x.quantile(.95), 3)).values)

out

            Параметр  Среднее  Медиана  95-перцентиль
0               hour   11.481    11.00         22.000
1         app_opened    1.000     1.00          1.000
2         price_seen    0.901     1.00          1.000
3         order_made    0.731     1.00          1.000
4     ride_completed    0.620     1.00          1.000
5     user_cancelled    0.111     0.00          1.000
6                age   40.472    40.00         63.000
7  city_center_order    0.572     1.00          1.000
8           distance    5.371     4.28         13.694